<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xju.librarymanagementsystem.mapper.LibrarianInfoApprovalMapper">
    <update id="updateNewLibrarianInfo">
        update user_information 
        <if test="userName!=null">
            set user_name=#{userName}
        </if>
        <if test="gender!=null">
            set gender=#{gender}
        </if>
        <if test="birthday">
            set birthday=#{birthday}
        </if>
        where user_id=#{userId};
    </update>
</mapper>